@font-face {
    font-family: "ClaireMono";
    src: url("../assets/fonts/clairemono.otf") format("opentype");
}

body{
    font-family: 'ClaireMono';
}


.musicBox {
    width: 100%;
    height: fit-content;
    /* background: #000000; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.track-list-container {
    width: 80vw;
    min-width: 250px;
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.music {
    flex: 1 1 250px;
    max-width: 350px;
    padding: 30px 25px 10px 25px;
    /* background: #303030; */
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.music p {
    margin-top: -10px;
    font-size: 10px;
    font-weight: 500;
    color: #aaa;
}

.music .hText {
    font-size: 18px;
    margin-bottom: 5px;
}
.track {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.wrapper{
    height: 20px;
}

.play-btn {
    max-width: 20px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.play-btn svg {
    width: 100%;
    height: 100%;
}

.waveform-container {
    flex: 1;
}